<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AFEStatViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AFEStatViewer.Properties.Settings>
            <setting name="AFE1_SaveGame_Filename" serializeAs="String">
                <value>char.sav</value>
            </setting>
            <setting name="AFE1_SaveGame_Path" serializeAs="String">
                <value>%LOCALAPPDATA%\Endeavor\Saved\SaveGames\</value>
            </setting>
            <setting name="AFE2_SaveGame_Filename" serializeAs="String">
                <value>char.sav</value>
            </setting>
            <setting name="AFE2_SaveGame_Path" serializeAs="String">
                <value>%LOCALAPPDATA%\AFE2\Saved\SaveGames\</value>
            </setting>
        </AFEStatViewer.Properties.Settings>
    </applicationSettings>
</configuration>